venv/
.venv/
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
.env
.env.*
!.env.example
node_modules/
.git/
*.log
.pytest_cache/
.mypy_cache/
dist/
build/
*.egg-info/
tmp/
temp/
*.tmp
.vscode/
.idea/
__blobstorage__/
__queuestorage__/
.python_packages/
keys/
dependencies/
*.aac
*.wav
